* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Lato,Helvetica,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(201,224,253,0);
    background-color: #2a2a2a;
    background-size: cover;
    color: #8a8a8a;
    font-size: 16px;
  }
  
  //NAVBAR
  
    .navbar {
      background-color: #333;
      padding: 25px;
      ul {
        list-style: none;
        margin: 5;
        padding: 0;
        display: flex;
        justify-content: space-around;
    
        li {
          a {
            text-decoration: none;
            color: white;
            padding: 25px;
    
            &:hover {
              background-color: #555;
            }
          }
        }
      }
    }  

  //ABOUT 

  .gmail{
    background-color: rgb(56, 57, 58);
  }

  .about{
    text-align: center;
    position: relative;
    top: 2.5rem;
  }
  //SOCIAL MEDIA 

  .social-media{
    position: relative;
    top: 120px;
    height: 9rem;
    justify-content: center;
    padding: 14px;
  }
  
#github{
  color: #ffffff;
  &:hover {
    color: #c0bcbc;
  }
}
#linkedin{
  color: #115cac;
  &:hover {
    color: #007bff;
  }
}
#instagram{
   color: #e037a8;
  &:hover {
    color: #d365ac;
  }
}

    .icon {
      font-size: 62px;
      color: #555;
      margin: 12px;
      cursor: pointer;
    }

  //PORTFOLIO

  .portfolio{
    position: relative;
    width: 55%;
    left: 25%;
    top: 4rem;
  }

  .heading{
    font-size: 2.4rem;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    cursor: pointer;

        :hover{
          background-color: #3b3b3b;
        }
  }
  
  .skill {
    padding: 10px;
    color: #e6e0e0;
    border: 1px solid #3b3b3b; 
    border-radius: 5px;
    background-color: #333; 
  }

  //CONTACT

  .contact {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  top: 1rem;
  font-size: 1.3rem;

  .inputs {
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid #666565;
      border-radius: 4px;
      background-color: #424141;
      color: #c0bcbc;
      font-size: medium;

      &:focus {
        outline: none;
        border-color: #007bff;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 20px;
      cursor: pointer;
      border: 1px solid #007bff;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;

      &:hover {
        background-color: #0056b3;
        border-color: #0056b3;
      }

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}